/* Loading Fonts */
@font-face {
    font-family: Quicksand;
    src: url(./Quicksand-Regular.ttf);
}

html { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; font-family: Quicksand; font-size: 1.25em; background: #fff; z-index: 10; }

/*** General ***/
/* Side-structure elements */
main         { background: #fff; padding: 0px 0px 1em 0px; z-index: 10; min-height:calc(100vh - 1em); }
section      { background: #fff; padding: 1em 10vw; min-height:calc(100vh - 2em); }
main > *     { padding: 0px 10vw; }
main + section { border-top: 2px solid #ddd; }

/* Specific text elements */
h1        { display: block; margin: 0px; padding: 0.7em 10vw; background: #fff; color: #888; z-index: 10; }
a         { text-decoration: none; color:#888; }
a:hover   { animation: linkChangeColor 0.5s; background: #888; color: #fff; }

/* Forms */
label         { display: block; color: #888; font-weight: bold; }
input         { width: 20em; margin: 0.5em 0px; padding: 5px; border: 3px solid #ddd; border-radius: 5px;
                font-weight: bold; }
textarea      { width: 23em; margin: 0.5em 0px; padding: 5px; border: 3px solid #ddd; border-radius: 5px; }
button        { display: block; padding: 0.7em 1.2em; border: 3px solid #ddd; border-radius: 5px; color: #888;
                font-size: 0.9em; }
button:hover  { animation: buttonChangeColor 0.5s; color: #fff; background: #888; }

/* Tables */
table                { width: 80vw; margin:1.5em 10vw; padding: 0px; border-collapse: collapse; }
table tr             { position: relative; border-bottom: 1px solid #eee; }
table tr:hover       { animation: minimalBgColorization 0.5s; background: #eee; }
table tr > th        { padding: 0.5em 0px; text-align: left; }
table tr > td        { padding: 0.5em 0px; text-align: left; color: #888; }
table tr > td:before { position: absolute; top: 50%; transform: translate(0px, -50%); right: calc(100% + 1em); }

/*** Generally used, specific elements ***/
a.buttonlike         { display: inline-block; width: auto; padding: 0.7em 1.2em; border: 3px solid #ddd;
                       border-radius: 5px; font-size: 0.9em; }
a.buttonlike:hover   { animation: buttonChangeColor 0.5s; color: #fff; background: #888; }
p.note               { display: block; font-size: 0.8em; margin: 0.5em 0px; padding: 0px 0px; }

/*** Trail ***/
p.trail              { margin: 0px 0px; padding: 0.7em 10vw; font-size: 0.9em; background: #3d3d3d; }
p.trail a            { color: #ccc; vertical-align: middle;  }
p.trail a:before     { display: inline-block; content: " > "; padding: 0px 0.5em; vertical-align: top; color: #888; }
p.trail a:first-child:before  { display: none; }

/*** Navigation ***/
body > nav                          { position: fixed; right: 0px; top: 0px; background: #111; z-index: 10; }
body > nav:before                   { position: absolute; right:3em; top: 1em; display: block; content: " \002630 "; padding: 0em 0.3em 0.2em 0.3em; font-size: 1.5em; background: #fff; color:#888; border: 2px solid #ddd; z-index: 10; }
body > nav:hover                    { height: 100%; z-index: 12; }
body > nav:hover:before             { display: none; }
body > nav ul                       { margin: 0px; padding: 0px; width: 300px; list-style: none; z-index: 11; }
body > nav > ul                     { display: none; height: 100%;  }
@media (max-width:65em) { body > nav > ul { padding-top: 5em; }  }
body > nav:hover > ul               { animation: fade-in 0.5s; display:block; }
body > nav > ul li                  { position: relative; border-bottom: 1px solid #333; }
body > nav > ul li a                { display: block; padding: 1em 1em 1em 3em; }
body > nav > ul li a:hover          { animation: blackBgToGray 0.5s; color: #fff; background: #888; }
body > nav > ul li a:before         { display: none; content: " < "; position: absolute; top: 48%; left: 2em;
                                      transform: translate(0%, -50%); }
body > nav > ul li a:hover:before   { animation: move-left-2-1 0.5s; display: block; left: 1.2em; }
body > nav > ul > li > ul           { position: absolute; display: none; right: 100%; top: 0px; background: #111; }
body > nav > ul > li:hover > ul     { animation: fade-in 0.4s; display: block; }

/*** Tiles ***/
ul.tiles               { display: block; margin-left: -1em; padding: 1em 10vw; }
ul.tiles li            { display: inline-block; }
ul.tiles li a          { display: inline-block; margin: 1em; padding: 1em; text-align: center;
                         color: #888; border: 2px solid #ddd; border-radius: 5px; }
ul.tiles li a:hover    { animation: linkChangeColor 0.5s; color: #fff; }
ul.tiles li a:before   { display: block; margin-bottom: 0.2em; font-size: 4em; padding: 0px 0.5em; }

/* Tiled sections */
div.tiled > div             { display: block; min-height: 40vh; border: 2px solid #ddd; border-radius: 0.3em; }
div.tiled dl                { margin-top: 0px; padding-top: 0px; }

@media (min-width:65em) {
    div.tiled                          { display: flex; flex-wrap: wrap; }
    div.tiled > div                    { display: inline-block; flex: 1; padding: 1em; min-width: 45%;
                                         border: 2px solid #ddd; border-radius: 0.3em; }
    div.tiled > div:nth-child(2n - 1)  { margin-right: 2em; }
}

/*** Fullpage: Pages that display text only and are centered. E.g. the setup page. ***/
section.fullpage    { position: absolute; left: 50%; top: 45%; transform: translate(-50%, -50%); width: calc(800px); min-height: initial; }
section.fullpage h1 { padding-left: 0px; }

/*** Paged sections ***/
section#page1, section#page2, section#page3, section#page4, section#page5 { display: none; }
section:target#page1, section:target#page2, section:target#page3, section:target#page4, section:target#page5 { display: block; animation: fade-in 0.8s; }

/*** Paged images (e.g. used with the cbz viewer) ***/
img#page0, img#page1, img#page2, img#page3, img#page4, img#page5, img#page6, img#page7, img#page8, img#page9, img#page10 { display: none; }
img:target#page0, img:target#page1, img:target#page2, img:target#page3, img:target#page4, img:target#page5, img:target#page6, img:target#page7, img:target#page8, img:target#page9, img:target#page10 { display: block; animation: fade-in 0.8s; }

/*** Specific pages ***/
/* File preview page */
body#file                   {  }
body#file main              { z-index: 10; padding-bottom: 0px; }
body#file main h1           { display: block; }
body#file main p.trail      { display: block; top: 6em; }
body#file main div.preview  { position: relative; height: calc(100vh - 13.5em); margin: 0px 0px; padding-top: 6em;
                              background: #111; }
div.preview > *             { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                              max-width: 80vw; max-height: calc(100% - 2em); z-index: 10; }
body#file main.fullsized div.preview { position: fixed; display: block; top: 0px; height: 100vh; width: 80vw;
                                       padding-top: 0px; z-index: 12; }
body#file main.fullsized + section#fileInfo   { display: none; }

/* The actual previews */
div.preview > audio                 { display: block; padding: 1em; background: #fff; border: 4px solid #ddd; }
div.preview > div.plaintextPreview  { display: block; overflow-y: auto; white-space: pre-wrap; background: #fff;
                                      padding: 0.5em 1em; }
div.preview > code                  { display: block; overflow-y: auto; white-space: pre-wrap; background: #fff;
                                      padding: 0.5em 1em; counter-reset: line; }
div.preview > code > span           { counter-increment: line; position: relative; margin: 0px; padding: 0px 0px 0px 3em; }
div.preview > code > span:before    { position: absolute; left: 0px; display: inline-block;
                                      content: counter(line); width: 2.5em; color: #aaa; background: #e2e2e2;  }
div.preview > object[type="application/pdf"] { display: block; height: 100vh; width: 60vw; }

/* Info box */
div.preview > div.infoBox              { position:absolute; top: 1em; left: initial; right: 1em;
                                         transform: initial; text-align: right; }
div.preview > div.infoBox:before       { content: " \01F6C8 "; display: inline-block; background: #aaa;
                                         padding:0.3em 0.5em 0.4em 0.5em; border-radius: 2em; z-index: 11; }
div.preview > div.infoBox > div        { display: none; z-index: 9; }
div.preview > div.infoBox:hover > div  { animation: fade-in 0.5s; display: block; margin-top:-1em;
                                         padding: 1em; background: #aaa;  text-align: left; }

/* Buttons for changing the offset in CBZ viewer */
p.offsetswitchers                      { display: flex; }
p.offsetswitchers a                    { flex: 1; vertical-align: middle; }
p.offsetswitchers a:last-child         { text-align: right; }
p.offsetswitchers a:hover              { animation: initial; }

/* Links for previous / next page */
body#file a[rel="prev"]     { position: absolute; display: inline-block; left: 0px; top: 50%;
                              translate: translate(-50%, -0%); width:30px; padding: 2em 1.3em; }
body#file a[rel="next"]     { position: absolute; display: inline-block; right: 0px; top: 50%;
                              translate: translate(-50%, -0%); width:30px; padding: 2em 1.3em; }

a[rel="prev"]:before        { display: inline-block; content: " \0025C0 ";  }
a[rel="next"]:after         { display: inline-block; content: " \0025B6 ";  }

p#fileOptions              { display: block; margin: 0px; background: #111; text-align: center; }
p#fileOptions a            { display: inline-block; margin: 0.5em; padding: 0.5em 0.75em; background: #eee;
                             border-radius: 2em;  }
p#fileOptions a:hover      { background: #888; }

section#fileInfo            { margin: 0px; padding: 0px; height: 100vh; border-top: 0px; }
section#fileInfo dl         { display: flex; flex-wrap: wrap; margin: 0px; padding: 0px; }
section#fileInfo dl dt      { flex: 1; display: inline-block; margin: 0px; padding: 0.9em 1.5em; min-width: 10em;
                              text-align: right; background: #111; color: #aaa; border-bottom: 2px solid #444; }
section#fileInfo dl dd      { flex: 1; display: inline-block; margin: 0px; padding: 0.9em 1.5em;
                              min-width: calc(100% - 20em); border-bottom: 2px solid #ddd; }

section#fileInfo dl dt:first-child { border-top: 2px solid #333; }
section#fileInfo dl dt:hover + dd,
section#fileInfo dl dd:hover { animation: minimalBgColorization 0.5s; background: #eee; }

/* Setup page */
body#setup nav { display: none; }

/* Cheat Sheet */
body#cheatSheet      {  }
body#cheatSheet main {  }
body#cheatSheet dl   { display: flex; flex-wrap: wrap; }

body#cheatSheet dl dt,
body#cheatSheet dl dt + dd   { flex: 1; margin: 0px; padding: 0.5em; min-width: 10em; border-bottom: 1px solid #ddd; }
body#cheatSheet dl dt + dd   { min-width: calc(100% - 12em); }
body#cheatSheet kbd          { background: #eee; padding: 0.3em; }

/*** Charts ***/
div.barChart         { display: flex !important; width: auto; height: calc(100% - 1.5em); border-bottom: 2px solid #ddd; }
div.barChart a       { position: relative; display: inline-block; flex: 1; height: 100%; vertical-align: bottom; }
div.barChart a:hover { animation: initial; background: initial; }

div.barChart a > span                   { position: absolute; left: 50%; transform: translate(-50%, 0px); color: #888; }
div.barChart a > span:first-child       { display: block; position: absolute; bottom: 0px; width: 100%; background: #555;
                                          opacity: 0.4; font-size: 0.8em; }
div.barChart a:hover > span:first-child { animation: fade-in 0.5s; opacity: 1; }
div.barChart a > span:last-child        { top: calc(100% + 0.4em); font-size: 0.7em; }

/*** Type table ***/
body#typeTable    {}
body#typeTable .offsetswitchers a     { padding: 0.5em; }
body#typeTable a:before, body#typeTable a:after { vertical-align: top; margin-top: -0.1em; padding: 0px 0.5em; }
body#typeTable .offsetswitchers       { position: relative; }
body#typeTable .offsetswitchers span  { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

/*** Search ***/
div#search              { position: fixed; display: block; width: 100%; height: 100%;
                          margin: 0px; padding: 0px; background: rgba(0,0,0,0.8); color: #fff; border: 0px;
                          text-align: center; z-index: 15; animation: fade-in 0.5s; }
div#search > div        { position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); }
div#search button       { width: 100%; }
div#search input        { padding: 0.5em 0.2em; font-size: 1.0em; }
div#search ul           { text-align: left;  list-style: outside square; margin: 1em 0px; padding: 0px; }
div#search ul li        { display: block; padding: 0.5em; border-bottom: 2px solid #aaa; }
div#search ul li:hover  { animation: growBg 0.5s; background: #555; cursor: pointer; }

/*** Filetype specific classes determine what symbol is to be displayed ***/
.directory:before   { display: inline-block; content: " \01F4C1 "; }
.audio:before       { display: inline-block; content: " \01F508 "; }
.video:before       { display: inline-block; content: " \01F3AC "; }
.image:before       { display: inline-block; content: " \01F5BB "; }
.pdf:before         { display: inline-block; content: " \01F4D3 "; }
.webpage:before     { display: inline-block; content: " \01F5BA "; }
.plaintext:before   { display: inline-block; content: " \01F5B9 "; }
.code:before        { display: inline-block; content: " \01F5CD "; }
.compressed:before  { display: inline-block; content: " \01F5BF "; }
.comic:before       { display: inline-block; content: " \01F4D2 "; }

/* Animations */
/**/
@keyframes appear {
    from { opacity:0.2; }
    to   { opacity:1.0; }
}
@keyframes fade-in {
    from { opacity: 0.4; }
    to   { opacity: 1.0; }
}
@keyframes linkChangeColor {
    from { color: #888; background: #fff; }
    to   { color: #fff; background: #888; }
}
@keyframes buttonChangeColor {
    from { color: #888; background: #fff; }
    to   { color: #fff; background: #888; }
}
@keyframes minimalBgColorization {
    from { background: #fff; }
    to   { background: #eee; }
}
@keyframes blackBgToGray {
    from { color: #888; background: #000; }
    to   { color: #fff; background: #888; }
}
@keyframes growBg {
    from { background: rgba(0,0,0,0); }
    to   { background: #555; }
}
@keyframes move-left-2-1 {
    from { left: 2em;   opacity: 0.4; }
    to   { left: 1.2em; opacity: 1; }
}
